<!DOCTYPE html>
<html lang="ru">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QC89HYMM4R"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-QC89HYMM4R');
    </script>
    <title>Clan spot</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Назначение времени для рейдов с системой контроля. Новости корейских игр, mmorpg, NFT, Trone and Liberty."/>
    <meta name="keywords" content="ProjectTL новости корея игры nft нфт азия ncsoft mmorpg lineage"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'farm' %>
    <%= javascript_pack_tag 'farm' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
