<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Project TL</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Новости корейских игр, NFT, Project TL"/>
    <meta name="keywords" content="Project TL новости корея игры nft нфт азия ncsoft"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'farm' %>
    <%= javascript_pack_tag 'farm' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
